In [1]:
# ############################################################

# ## 01. per minute min, max, avg table ##

# ############################################################

# -- Designed by

#    김상원

# -- Produced by April. 21, 2020. (Ver.1.5.)

# -- Description: xxx

# ============================================================

In [2]:
import pandas as pd
import numpy as np
from functools import reduce

In [3]:
df = pd.read_csv("/Users/sangwon/workspace/school/bithumb_bot/data/2018-05-btc-krw.csv") # csv load

In [4]:
df.dtypes # identifying column type

timestamp     object
quantity     float64
price          int64
fee            int64
amount         int64
side           int64
dtype: object

In [5]:
## converting timestamp column type 'object' to 'datetime'
df['timestamp'] = pd.to_datetime(df['timestamp'], format='%Y-%m-%d %H:%M:%S', errors='raise')
df.dtypes

timestamp    datetime64[ns]
quantity            float64
price                 int64
fee                   int64
amount                int64
side                  int64
dtype: object

In [6]:
## converting timestamp column type 'object' to 'datetime'
df['timestamp'] = pd.to_datetime(df['timestamp'], format='%Y-%m-%d %H:%M:%S', errors='raise')
df.dtypes

timestamp    datetime64[ns]
quantity            float64
price                 int64
fee                   int64
amount                int64
side                  int64
dtype: object

In [7]:
## converting timestamp to detailed date column
df['timestamp_year_month_day']       = df['timestamp'].dt.date         # YYYY-MM-DD(문자)
df['timestamp_year']       = df['timestamp'].dt.year         # 연(4자리숫자)
df['timestamp_month']      = df['timestamp'].dt.month        # 월(숫자)
df['timestamp_month_name'] = df['timestamp'].dt.month_name() # 월(문자)

df['timestamp_day']        = df['timestamp'].dt.day          # 일(숫자)
df['timestamp_time']       = df['timestamp'].dt.time         # HH:MM:SS(문자)
df['timestamp_hour']       = df['timestamp'].dt.hour         # 시(숫자)
df['timestamp_minute']     = df['timestamp'].dt.minute       # 분(숫자)
df['timestamp_second']     = df['timestamp'].dt.second       # 초(숫자)
df['Date_min'] = df['timestamp'].dt.to_period(freq = 'Min')

In [8]:
df

,timestamp,quantity,price,fee,amount,side,timestamp_year_month_day,timestamp_year,timestamp_month,timestamp_month_name,timestamp_day,timestamp_time,timestamp_hour,timestamp_minute,timestamp_second,Date_min
0,2018-05-01 01:06:02,0.8064,10164000,0,-8196250,0,2018-05-01,2018,5,May,1,01:06:02,1,6,2,2018-05-01 01:06
1,2018-05-01 01:06:16,0.1000,10163000,0,1016300,1,2018-05-01,2018,5,May,1,01:06:16,1,6,16,2018-05-01 01:06
2,2018-05-01 01:06:20,0.1000,10163000,0,1016300,1,2018-05-01,2018,5,May,1,01:06:20,1,6,20,2018-05-01 01:06
3,2018-05-01 01:06:24,0.3382,10162000,0,3436788,1,2018-05-01,2018,5,May,1,01:06:24,1,6,24,2018-05-01 01:06
4,2018-05-01 01:06:28,0.1000,10153000,0,1015300,1,2018-05-01,2018,5,May,1,01:06:28,1,6,28,2018-05-01 01:06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23290,2018-05-31 23:19:25,0.2509,8338000,0,2092004,1,2018-05-31,2018,5,May,31,23:19:25,23,19,25,2018-05-31 23:19
23291,2018-05-31 23:21:03,0.0390,8342000,0,325338,1,2018-05-31,2018,5,May,31,23:21:03,23,21,3,2018-05-31 23:21
23292,2018-05-31 23:21:05,0.4258,8342000,0,3552024,1,2018-05-31,2018,5,May,31,23:21:05,23,21,5,2018-05-31 23:21
23293,2018-05-31 23:21:08,0.1126,8342000,0,939309,1,2018-05-31,2018,5,May,31,23:21:08,23,21,8,2018-05-31 23:21
23294,2018-05-31 23:21:17,0.3680,8342000,0,3069856,1,2018-05-31,2018,5,May,31,23:21:17,23,21,17,2018-05-31 23:21

In [9]:
## creating 'hour - amount' connection
group_min_amount = df['amount'].groupby(df['Date_min'])

In [10]:
## 시간별 transaction 수
group_min_amount.size().max()

44

In [11]:
group_min_amount.size().min()

1

In [12]:
group_min_amount.size().mean()

2.0992160043254935

In [13]:
## creating 'hour - earning amount' connection
df2 = df.copy()
df2 =df2[df2['amount'] > 0]
group_min_amount_positive = df2['amount'].groupby(df2['Date_min'])

# 시간별 수익 transaction 수
group_min_amount_positive.size().max()

32

In [14]:
group_min_amount_positive.size().min()

1

In [15]:
group_min_amount_positive.size().mean()

2.017915309446254

In [16]:
## creating 'hour - earning amount' connection
df2 = df.copy()
df2 =df2[df2['amount'] < 0]
group_min_amount_negative = df2['amount'].groupby(df2['Date_min'])

# 시간별 수익 transaction 수
group_min_amount_negative.size().max()

44

In [17]:
group_min_amount_negative.size().min()

1

In [18]:
group_min_amount_negative.size().mean()

1.7152452676572358

In [19]:
my_df = pd.DataFrame(data={'B_min':[group_min_amount_negative.size().min()], 'B_max': [group_min_amount_negative.size().max()], 'B_avg': [group_min_amount_negative.size().mean()], 'S_min': [group_min_amount_positive.size().min()], 'S_max': [group_min_amount_positive.size().max()], 'S_avg': [group_min_amount_positive.size().mean()],'T_min': [group_min_amount.size().min()], 'T_max': [group_min_amount.size().max()], 'T_avg': [group_min_amount.size().mean()]}, columns=['B_min', 'B_max', 'B_avg', 'S_min', 'S_max', 'S_avg','T_min', 'T_max', 'T_avg'])
display(pd.DataFrame(my_df))

   B_min  B_max     B_avg  S_min  S_max     S_avg  T_min  T_max     T_avg
0      1     44  1.715245      1     32  2.017915      1     44  2.099216

In [20]:
my_df.to_csv("/Users/sangwon/workspace/school/bithumb_bot/bithumb_bot/sangwon_code/table/overall_table.csv", header=True, index=False, encoding = 'utf-8')