In [1]:
import pandas as pd
import numpy as np
from functools import reduce
import matplotlib.pyplot as plt
from pylab import figure, axes, pie, title, savefig

In [59]:
df = pd.read_csv("/Users/hamin/bithumb_bot_data/include/2018-new/2018-03-btc-krw.csv")

In [60]:
df.dtypes

timestamp     object
quantity     float64
price        float64
fee          float64
amount         int64
side         float64
dtype: object

In [61]:
# converting timestamp column type 'object' to 'datetime'
df['timestamp'] = pd.to_datetime(df['timestamp'], format = '%Y-%m-%d %H:%M:%S', errors='raise')
df.dtypes

timestamp    datetime64[ns]
quantity            float64
price               float64
fee                 float64
amount                int64
side                float64
dtype: object

In [62]:
## converting timestamp to detailed date column
df['timestamp_year_month_day']       = df['timestamp'].dt.date         # YYYY-MM-DD(문자)
df['timestamp_year']       = df['timestamp'].dt.year         # 연(4자리숫자)
df['timestamp_month']      = df['timestamp'].dt.month        # 월(숫자)
df['timestamp_month_name'] = df['timestamp'].dt.month_name() # 월(문자)
df['timestamp_day']        = df['timestamp'].dt.day          # 일(숫자)
df['timestamp_time']       = df['timestamp'].dt.time         # HH:MM:SS(문자)
df['timestamp_hour']       = df['timestamp'].dt.hour         # 시(숫자)
df['timestamp_minute']     = df['timestamp'].dt.minute       # 분(숫자)
df['timestamp_second']     = df['timestamp'].dt.second       # 초(숫자)

In [63]:
df

,timestamp,quantity,price,fee,amount,side,timestamp_year_month_day,timestamp_year,timestamp_month,timestamp_month_name,timestamp_day,timestamp_time,timestamp_hour,timestamp_minute,timestamp_second
0,2018-03-01 00:11:00,0.9563,11929000.0,0.0,-11407703,0.0,2018-03-01,2018.0,3.0,March,1.0,00:11:00,0.0,11.0,0.0
1,2018-03-01 00:12:00,0.1422,11936000.0,0.0,-1697299,0.0,2018-03-01,2018.0,3.0,March,1.0,00:12:00,0.0,12.0,0.0
2,2018-03-01 00:12:00,0.0100,11941000.0,0.0,119410,1.0,2018-03-01,2018.0,3.0,March,1.0,00:12:00,0.0,12.0,0.0
3,2018-03-01 00:12:00,0.0032,11941000.0,0.0,38211,1.0,2018-03-01,2018.0,3.0,March,1.0,00:12:00,0.0,12.0,0.0
4,2018-03-01 00:12:00,0.1328,11940000.0,0.0,1585632,1.0,2018-03-01,2018.0,3.0,March,1.0,00:12:00,0.0,12.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33145,2018-03-31 23:59:00,0.1000,7796000.0,0.0,779600,1.0,2018-03-31,2018.0,3.0,March,31.0,23:59:00,23.0,59.0,0.0
33146,2018-03-31 23:59:00,0.0416,7797000.0,0.0,324355,1.0,2018-03-31,2018.0,3.0,March,31.0,23:59:00,23.0,59.0,0.0
33147,2018-03-31 23:59:00,0.0009,7794000.0,0.0,7015,1.0,2018-03-31,2018.0,3.0,March,31.0,23:59:00,23.0,59.0,0.0
33148,2018-03-31 23:59:00,0.3152,7794000.0,0.0,2456669,1.0,2018-03-31,2018.0,3.0,March,31.0,23:59:00,23.0,59.0,0.0
33149,NaT,NaN,NaN,NaN,-8951034,NaN,NaT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN

In [64]:
## creating 'day - amount' connection
group_day_amount = df['amount'].groupby(df['timestamp_year_month_day'])

In [65]:
## 일별 총 손익량
group_day_amount.sum()

timestamp_year_month_day
2018-03-01      842310
2018-03-02    -9850277
2018-03-03    12052822
2018-03-04   -17687024
2018-03-05    -2474659
2018-03-08   -11229029
2018-03-09    14113709
2018-03-10     1472564
2018-03-11     1168065
2018-03-12     1339762
2018-03-13      534832
2018-03-14      579270
2018-03-15     1668246
2018-03-16     -492516
2018-03-17   -19028555
2018-03-18    19884617
2018-03-19     7314411
2018-03-20     2737783
2018-03-21    -2746455
2018-03-22     5255741
2018-03-23      857685
2018-03-24   -13545062
2018-03-25    15396091
2018-03-26     -230397
2018-03-27   -15649586
2018-03-28    17142294
2018-03-29      381138
2018-03-30   -16682822
2018-03-31    19011544
Name: amount, dtype: int64

In [67]:
## 일별 계산 table 생성
dfs = [group_day_amount.sum()]
dfs

[timestamp_year_month_day
 2018-03-01      842310
 2018-03-02    -9850277
 2018-03-03    12052822
 2018-03-04   -17687024
 2018-03-05    -2474659
 2018-03-08   -11229029
 2018-03-09    14113709
 2018-03-10     1472564
 2018-03-11     1168065
 2018-03-12     1339762
 2018-03-13      534832
 2018-03-14      579270
 2018-03-15     1668246
 2018-03-16     -492516
 2018-03-17   -19028555
 2018-03-18    19884617
 2018-03-19     7314411
 2018-03-20     2737783
 2018-03-21    -2746455
 2018-03-22     5255741
 2018-03-23      857685
 2018-03-24   -13545062
 2018-03-25    15396091
 2018-03-26     -230397
 2018-03-27   -15649586
 2018-03-28    17142294
 2018-03-29      381138
 2018-03-30   -16682822
 2018-03-31    19011544
 Name: amount, dtype: int64]

In [68]:
day_df_final = reduce(lambda left,right: pd.merge(left,right,on='timestamp_year_month_day'), dfs)
day_df_final.columns = [ "daily profit"]
day_df_final

timestamp_year_month_day
2018-03-01      842310
2018-03-02    -9850277
2018-03-03    12052822
2018-03-04   -17687024
2018-03-05    -2474659
2018-03-08   -11229029
2018-03-09    14113709
2018-03-10     1472564
2018-03-11     1168065
2018-03-12     1339762
2018-03-13      534832
2018-03-14      579270
2018-03-15     1668246
2018-03-16     -492516
2018-03-17   -19028555
2018-03-18    19884617
2018-03-19     7314411
2018-03-20     2737783
2018-03-21    -2746455
2018-03-22     5255741
2018-03-23      857685
2018-03-24   -13545062
2018-03-25    15396091
2018-03-26     -230397
2018-03-27   -15649586
2018-03-28    17142294
2018-03-29      381138
2018-03-30   -16682822
2018-03-31    19011544
Name: amount, dtype: int64

In [69]:
print(day_df_final.asfreq('D'))

timestamp_year_month_day
2018-03-01      842310.0
2018-03-02    -9850277.0
2018-03-03    12052822.0
2018-03-04   -17687024.0
2018-03-05    -2474659.0
2018-03-06           NaN
2018-03-07           NaN
2018-03-08   -11229029.0
2018-03-09    14113709.0
2018-03-10     1472564.0
2018-03-11     1168065.0
2018-03-12     1339762.0
2018-03-13      534832.0
2018-03-14      579270.0
2018-03-15     1668246.0
2018-03-16     -492516.0
2018-03-17   -19028555.0
2018-03-18    19884617.0
2018-03-19     7314411.0
2018-03-20     2737783.0
2018-03-21    -2746455.0
2018-03-22     5255741.0
2018-03-23      857685.0
2018-03-24   -13545062.0
2018-03-25    15396091.0
2018-03-26     -230397.0
2018-03-27   -15649586.0
2018-03-28    17142294.0
2018-03-29      381138.0
2018-03-30   -16682822.0
2018-03-31    19011544.0
Freq: D, Name: amount, dtype: float64

In [70]:
day_df_final.index = pd.DatetimeIndex(day_df_final.index)

In [71]:
year=2018
i = 1
idx = pd.date_range(start = "{}-{}-1".format(year, i), periods = pd.Period("{}-{}-1".format(year, i)).days_in_month)
print(idx)

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12',
               '2018-01-13', '2018-01-14', '2018-01-15', '2018-01-16',
               '2018-01-17', '2018-01-18', '2018-01-19', '2018-01-20',
               '2018-01-21', '2018-01-22', '2018-01-23', '2018-01-24',
               '2018-01-25', '2018-01-26', '2018-01-27', '2018-01-28',
               '2018-01-29', '2018-01-30', '2018-01-31'],
              dtype='datetime64[ns]', freq='D')

In [72]:
day_df_final.to_csv("/Users/hamin/bithumb_bot_data/endingPrice/dailyProfit/dailyProfit03.csv", header=True, index=True, encoding = 'utf-8')