In [34]:
import sys
!{sys.executable} -m pip install numpy
!{sys.executable} -m pip install pandas
!{sys.executable} -m pip install matplotlib

Requirement already satisfied: numpy in /usr/local/Cellar/jupyterlab/2.0.1/libexec/lib/python3.7/site-packages (1.18.2)
Requirement already satisfied: pandas in /usr/local/Cellar/jupyterlab/2.0.1/libexec/lib/python3.7/site-packages (1.0.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/Cellar/jupyterlab/2.0.1/libexec/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/Cellar/jupyterlab/2.0.1/libexec/lib/python3.7/site-packages (from pandas) (1.18.2)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/Cellar/jupyterlab/2.0.1/libexec/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/Cellar/jupyterlab/2.0.1/libexec/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
Collecting matplotlib
  Using cached matplotlib-3.2.1-cp37-cp37m-macosx_10_9_x86_64.whl (12.4 MB)
Collecting kiwisolver>=1.0.1
  Using cached kiwisolver-1.1.0-cp37-cp37m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (113 kB)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/Cellar/jupyterlab/2.0.1/libexec/lib/python3.7/site-packages (from matplotlib) (2.8.1)
Collecting cycler>=0.10
  Using cached cycler-0.10.0-py2.py3-none-any.whl (6.5 kB)
Requirement already satisfied: numpy>=1.11 in /usr/local/Cellar/jupyterlab/2.0.1/libexec/lib/python3.7/site-packages (from matplotlib) (1.18.2)
Collecting pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1
  Using cached pyparsing-2.4.6-py2.py3-none-any.whl (67 kB)
Requirement already satisfied: setuptools in /usr/local/Cellar/jupyterlab/2.0.1/libexec/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib) (45.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/Cellar/jupyterlab/2.0.1/libexec/lib/python3.7/site-packages (from python-dateutil>=2.1->matplotlib) (1.14.0)
Installing collected packages: kiwisolver, cycler, pyparsing, matplotlib
Successfully installed cycler-0.10.0 kiwisolver-1.1.0 matplotlib-3.2.1 pyparsing-2.4.6

In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [52]:
df = pd.read_csv("/Users/hamin/Documents/bithumb_analysis/2018-05-btc-krw.csv")

In [53]:
# identifying column type 
df.dtypes

timestamp     object
quantity     float64
price          int64
fee            int64
amount         int64
side           int64
dtype: object

In [54]:
# converting timestamp column type 'object' to 'datetime'
df['timestamp'] = pd.to_datetime(df['timestamp'], format='%Y-%m-%d %H:%M:%S', errors='raise')
df.dtypes

timestamp    datetime64[ns]
quantity            float64
price                 int64
fee                   int64
amount                int64
side                  int64
dtype: object

In [60]:
df.head()

            timestamp  quantity     price  fee   amount  side
0 2018-05-01 01:06:02    0.8064  10164000    0 -8196250     0
1 2018-05-01 01:06:16    0.1000  10163000    0  1016300     1
2 2018-05-01 01:06:20    0.1000  10163000    0  1016300     1
3 2018-05-01 01:06:24    0.3382  10162000    0  3436788     1
4 2018-05-01 01:06:28    0.1000  10153000    0  1015300     1

In [61]:
# creating 'price - quantity' connection - price가 같은것 끼리 묶는다.
quantity_price = df['quantity'].groupby(df['price'])

In [57]:
# price 별 거래량
quantity_price.size()

price
7853000     1
7858000     3
7859000     1
7862000     5
7864000     2
           ..
10947000    1
10948000    1
10949000    2
10951000    2
10953000    2
Name: quantity, Length: 2749, dtype: int64

In [58]:
# price 별 quantity의 평균
quantity_price.mean()

price
7853000     0.017900
7858000     0.025233
7859000     1.535800
7862000     0.177140
7864000     0.087200
              ...
10947000    0.001800
10948000    0.400000
10949000    0.162600
10951000    0.761850
10953000    0.198450
Name: quantity, Length: 2749, dtype: float64