In [57]:
import pandas as pd
import numpy as np
from functools import reduce
import matplotlib.pyplot as plt
from pylab import figure, axes, pie, title, savefig

In [58]:
df = pd.read_csv("/Users/hamin/ITE3035_Python/Data_Science/endingPrice/profit_point/bithumb-2018-07-btc-profit_point_graph_table-3.csv")

FileNotFoundError: [Errno 2] File /Users/hamin/ITE3035_Python/Data_Science/endingPrice/profit_point/bithumb-2018-07-btc-profit_point_graph_table-3.csv does not exist: '/Users/hamin/ITE3035_Python/Data_Science/endingPrice/profit_point/bithumb-2018-07-btc-profit_point_graph_table-3.csv'

In [45]:
df.dtypes

Unnamed: 0               int64
timestamp               object
point_amount_cumsum    float64
dtype: object

In [46]:
# converting timestamp column type 'object' to 'datetime'
df['timestamp'] = pd.to_datetime(df['timestamp'], format = '%Y-%m-%d %H:%M:%S', errors='raise')
df.dtypes

Unnamed: 0                      int64
timestamp              datetime64[ns]
point_amount_cumsum           float64
dtype: object

In [47]:
## converting timestamp to detailed date column
df['timestamp_year_month_day']       = df['timestamp'].dt.date         # YYYY-MM-DD(문자)
df['timestamp_year']       = df['timestamp'].dt.year         # 연(4자리숫자)
df['timestamp_month']      = df['timestamp'].dt.month        # 월(숫자)
df['timestamp_month_name'] = df['timestamp'].dt.month_name() # 월(문자)
df['timestamp_day']        = df['timestamp'].dt.day          # 일(숫자)
df['timestamp_time']       = df['timestamp'].dt.time         # HH:MM:SS(문자)
df['timestamp_hour']       = df['timestamp'].dt.hour         # 시(숫자)
df['timestamp_minute']     = df['timestamp'].dt.minute       # 분(숫자)
df['timestamp_second']     = df['timestamp'].dt.second       # 초(숫자)

In [48]:
df

,Unnamed: 0,timestamp,point_amount_cumsum,timestamp_year_month_day,timestamp_year,timestamp_month,timestamp_month_name,timestamp_day,timestamp_time,timestamp_hour,timestamp_minute,timestamp_second
0,2,2018-07-04 12:59:00,-8814.0,2018-07-04,2018,7,July,4,12:59:00,12,59,0
1,26,2018-07-04 13:36:00,-8420.0,2018-07-04,2018,7,July,4,13:36:00,13,36,0
2,31,2018-07-04 14:25:00,-426.0,2018-07-04,2018,7,July,4,14:25:00,14,25,0
3,34,2018-07-04 14:38:00,687.0,2018-07-04,2018,7,July,4,14:38:00,14,38,0
4,40,2018-07-04 14:56:00,-1195.0,2018-07-04,2018,7,July,4,14:56:00,14,56,0
...,...,...,...,...,...,...,...,...,...,...,...,...
85,6388,2018-07-14 23:23:00,-278.0,2018-07-14,2018,7,July,14,23:23:00,23,23,0
86,6401,2018-07-15 00:04:00,-22489.0,2018-07-15,2018,7,July,15,00:04:00,0,4,0
87,6423,2018-07-15 01:02:00,31101.0,2018-07-15,2018,7,July,15,01:02:00,1,2,0
88,6425,2018-07-15 01:05:00,-34.0,2018-07-15,2018,7,July,15,01:05:00,1,5,0
89,6748,2018-07-15 11:30:00,124084.0,2018-07-15,2018,7,July,15,11:30:00,11,30,0

In [49]:
## creating 'day - amount' connection
group_day_amount = df['point_amount_cumsum'].groupby(df['timestamp_year_month_day'])

In [50]:
## 일별 총 손익량
group_day_amount.sum()

timestamp_year_month_day
2018-07-04     22382.0
2018-07-05    552316.0
2018-07-07    444104.0
2018-07-10    117097.0
2018-07-11   -875046.0
2018-07-13   -518798.0
2018-07-14    -33260.0
2018-07-15    132662.0
Name: point_amount_cumsum, dtype: float64

In [51]:
## 일별 계산 table 생성
dfs = [group_day_amount.sum()]
dfs

[timestamp_year_month_day
 2018-07-04     22382.0
 2018-07-05    552316.0
 2018-07-07    444104.0
 2018-07-10    117097.0
 2018-07-11   -875046.0
 2018-07-13   -518798.0
 2018-07-14    -33260.0
 2018-07-15    132662.0
 Name: point_amount_cumsum, dtype: float64]

In [52]:
day_df_final = reduce(lambda left,right: pd.merge(left,right,on='timestamp_year_month_day'), dfs)
day_df_final.columns = [ "daily profit"]
day_df_final

timestamp_year_month_day
2018-07-04     22382.0
2018-07-05    552316.0
2018-07-07    444104.0
2018-07-10    117097.0
2018-07-11   -875046.0
2018-07-13   -518798.0
2018-07-14    -33260.0
2018-07-15    132662.0
Name: point_amount_cumsum, dtype: float64

In [53]:
print(day_df_final.asfreq('D'))

timestamp_year_month_day
2018-07-04     22382.0
2018-07-05    552316.0
2018-07-06         NaN
2018-07-07    444104.0
2018-07-08         NaN
2018-07-09         NaN
2018-07-10    117097.0
2018-07-11   -875046.0
2018-07-12         NaN
2018-07-13   -518798.0
2018-07-14    -33260.0
2018-07-15    132662.0
Freq: D, Name: point_amount_cumsum, dtype: float64

In [54]:
day_df_final.index = pd.DatetimeIndex(day_df_final.index)

In [55]:
year=2018
i = 1
idx = pd.date_range(start = "{}-{}-1".format(year, i), periods = pd.Period("{}-{}-1".format(year, i)).days_in_month)
print(idx)

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12',
               '2018-01-13', '2018-01-14', '2018-01-15', '2018-01-16',
               '2018-01-17', '2018-01-18', '2018-01-19', '2018-01-20',
               '2018-01-21', '2018-01-22', '2018-01-23', '2018-01-24',
               '2018-01-25', '2018-01-26', '2018-01-27', '2018-01-28',
               '2018-01-29', '2018-01-30', '2018-01-31'],
              dtype='datetime64[ns]', freq='D')

In [56]:
day_df_final.to_csv("/Users/hamin/ITE3035_Python/Data_Science/endingPrice/dailyProfit/dailyProfit07(zero_to_zero)-2.csv", header=True, index=True, encoding = 'utf-8')