In [1]:
import pandas as pd
import numpy as np
from functools import reduce
import matplotlib.pyplot as plt
from pylab import figure, axes, pie, title, savefig

In [2]:
df = pd.read_csv("/Users/hamin/ITE3035_Python/Data_Science/endingPrice/profit_point/bithumb-2018-05-btc-profit_point_graph_table.csv")

In [3]:
df.dtypes

Unnamed: 0               int64
timestamp               object
point_amount_cumsum    float64
dtype: object

In [4]:
# converting timestamp column type 'object' to 'datetime'
df['timestamp'] = pd.to_datetime(df['timestamp'], format = '%Y-%m-%d %H:%M:%S', errors='raise')
df.dtypes

Unnamed: 0                      int64
timestamp              datetime64[ns]
point_amount_cumsum           float64
dtype: object

In [5]:
## converting timestamp to detailed date column
df['timestamp_year_month_day']       = df['timestamp'].dt.date         # YYYY-MM-DD(문자)
df['timestamp_year']       = df['timestamp'].dt.year         # 연(4자리숫자)
df['timestamp_month']      = df['timestamp'].dt.month        # 월(숫자)
df['timestamp_month_name'] = df['timestamp'].dt.month_name() # 월(문자)
df['timestamp_day']        = df['timestamp'].dt.day          # 일(숫자)
df['timestamp_time']       = df['timestamp'].dt.time         # HH:MM:SS(문자)
df['timestamp_hour']       = df['timestamp'].dt.hour         # 시(숫자)
df['timestamp_minute']     = df['timestamp'].dt.minute       # 분(숫자)
df['timestamp_second']     = df['timestamp'].dt.second       # 초(숫자)

In [6]:
df

,Unnamed: 0,timestamp,point_amount_cumsum,timestamp_year_month_day,timestamp_year,timestamp_month,timestamp_month_name,timestamp_day,timestamp_time,timestamp_hour,timestamp_minute,timestamp_second
0,6,2018-05-01 01:08:09,-2818.0,2018-05-01,2018,5,May,1,01:08:09,1,8,9
1,30,2018-05-01 02:01:00,-5182.0,2018-05-01,2018,5,May,1,02:01:00,2,1,0
2,31,2018-05-01 02:28:32,-61140.0,2018-05-01,2018,5,May,1,02:28:32,2,28,32
3,32,2018-05-01 02:30:41,61098.0,2018-05-01,2018,5,May,1,02:30:41,2,30,41
4,37,2018-05-01 03:28:58,5065.0,2018-05-01,2018,5,May,1,03:28:58,3,28,58
...,...,...,...,...,...,...,...,...,...,...,...,...
1752,23091,2018-05-31 10:43:17,-61942.0,2018-05-31,2018,5,May,31,10:43:17,10,43,17
1753,23096,2018-05-31 10:49:36,-125545.0,2018-05-31,2018,5,May,31,10:49:36,10,49,36
1754,23097,2018-05-31 10:49:37,32540.0,2018-05-31,2018,5,May,31,10:49:37,10,49,37
1755,23190,2018-05-31 15:49:49,240810.0,2018-05-31,2018,5,May,31,15:49:49,15,49,49
1756,23294,2019-05-15 00:02:11,86556.0,2019-05-15,2019,5,May,15,00:02:11,0,2,11

In [7]:
## creating 'day - amount' connection
group_day_amount = df['point_amount_cumsum'].groupby(df['timestamp_year_month_day'])

In [8]:
## 일별 총 손익량
group_day_amount.sum()

timestamp_year_month_day
2018-05-01     -56296.0
2018-05-02     166577.0
2018-05-03     521401.0
2018-05-04     545803.0
2018-05-05     340552.0
2018-05-06     237461.0
2018-05-07    1125971.0
2018-05-08     450854.0
2018-05-09     903271.0
2018-05-10     509872.0
2018-05-11     -16761.0
2018-05-12     716218.0
2018-05-13     506235.0
2018-05-14     748015.0
2018-05-15     218284.0
2018-05-16    -225233.0
2018-05-17     663890.0
2018-05-18     910767.0
2018-05-19     786656.0
2018-05-20     409514.0
2018-05-21    1217040.0
2018-05-22    -169971.0
2018-05-23      36236.0
2018-05-24    -152422.0
2018-05-25     -40057.0
2018-05-26     658904.0
2018-05-27    -156084.0
2018-05-28      99518.0
2018-05-29     153586.0
2018-05-30     606352.0
2018-05-31     196597.0
2019-05-15      86556.0
Name: point_amount_cumsum, dtype: float64

In [9]:
## 일별 계산 table 생성
dfs = [group_day_amount.sum()]
dfs

[timestamp_year_month_day
 2018-05-01     -56296.0
 2018-05-02     166577.0
 2018-05-03     521401.0
 2018-05-04     545803.0
 2018-05-05     340552.0
 2018-05-06     237461.0
 2018-05-07    1125971.0
 2018-05-08     450854.0
 2018-05-09     903271.0
 2018-05-10     509872.0
 2018-05-11     -16761.0
 2018-05-12     716218.0
 2018-05-13     506235.0
 2018-05-14     748015.0
 2018-05-15     218284.0
 2018-05-16    -225233.0
 2018-05-17     663890.0
 2018-05-18     910767.0
 2018-05-19     786656.0
 2018-05-20     409514.0
 2018-05-21    1217040.0
 2018-05-22    -169971.0
 2018-05-23      36236.0
 2018-05-24    -152422.0
 2018-05-25     -40057.0
 2018-05-26     658904.0
 2018-05-27    -156084.0
 2018-05-28      99518.0
 2018-05-29     153586.0
 2018-05-30     606352.0
 2018-05-31     196597.0
 2019-05-15      86556.0
 Name: point_amount_cumsum, dtype: float64]

In [10]:
day_df_final = reduce(lambda left,right: pd.merge(left,right,on='timestamp_year_month_day'), dfs)
day_df_final.columns = [ "daily profit"]
day_df_final

timestamp_year_month_day
2018-05-01     -56296.0
2018-05-02     166577.0
2018-05-03     521401.0
2018-05-04     545803.0
2018-05-05     340552.0
2018-05-06     237461.0
2018-05-07    1125971.0
2018-05-08     450854.0
2018-05-09     903271.0
2018-05-10     509872.0
2018-05-11     -16761.0
2018-05-12     716218.0
2018-05-13     506235.0
2018-05-14     748015.0
2018-05-15     218284.0
2018-05-16    -225233.0
2018-05-17     663890.0
2018-05-18     910767.0
2018-05-19     786656.0
2018-05-20     409514.0
2018-05-21    1217040.0
2018-05-22    -169971.0
2018-05-23      36236.0
2018-05-24    -152422.0
2018-05-25     -40057.0
2018-05-26     658904.0
2018-05-27    -156084.0
2018-05-28      99518.0
2018-05-29     153586.0
2018-05-30     606352.0
2018-05-31     196597.0
2019-05-15      86556.0
Name: point_amount_cumsum, dtype: float64

In [11]:
print(day_df_final.asfreq('D'))

timestamp_year_month_day
2018-05-01    -56296.0
2018-05-02    166577.0
2018-05-03    521401.0
2018-05-04    545803.0
2018-05-05    340552.0
                ...
2019-05-11         NaN
2019-05-12         NaN
2019-05-13         NaN
2019-05-14         NaN
2019-05-15     86556.0
Freq: D, Name: point_amount_cumsum, Length: 380, dtype: float64

In [12]:
day_df_final.index = pd.DatetimeIndex(day_df_final.index)

In [13]:
year=2018
i = 1
idx = pd.date_range(start = "{}-{}-1".format(year, i), periods = pd.Period("{}-{}-1".format(year, i)).days_in_month)
print(idx)

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12',
               '2018-01-13', '2018-01-14', '2018-01-15', '2018-01-16',
               '2018-01-17', '2018-01-18', '2018-01-19', '2018-01-20',
               '2018-01-21', '2018-01-22', '2018-01-23', '2018-01-24',
               '2018-01-25', '2018-01-26', '2018-01-27', '2018-01-28',
               '2018-01-29', '2018-01-30', '2018-01-31'],
              dtype='datetime64[ns]', freq='D')

In [14]:
day_df_final.to_csv("/Users/hamin/ITE3035_Python/Data_Science/endingPrice/dailyProfit/dailyProfit05(zero_to_zero).csv", header=True, index=True, encoding = 'utf-8')