In [1]:
import pandas as pd
import numpy as np
from functools import reduce
import matplotlib.pyplot as plt
from pylab import figure, axes, pie, title, savefig

In [2]:
df = pd.read_csv("/Users/hamin/ITE3035_Python/Data_Science/endingPrice/profit_point/bithumb-2018-06-btc-profit_point_graph_table.csv")

In [3]:
df.dtypes

Unnamed: 0               int64
timestamp               object
point_amount_cumsum    float64
dtype: object

In [4]:
# converting timestamp column type 'object' to 'datetime'
df['timestamp'] = pd.to_datetime(df['timestamp'], format = '%Y-%m-%d %H:%M:%S', errors='raise')
df.dtypes

Unnamed: 0                      int64
timestamp              datetime64[ns]
point_amount_cumsum           float64
dtype: object

In [5]:
## converting timestamp to detailed date column
df['timestamp_year_month_day']       = df['timestamp'].dt.date         # YYYY-MM-DD(문자)
df['timestamp_year']       = df['timestamp'].dt.year         # 연(4자리숫자)
df['timestamp_month']      = df['timestamp'].dt.month        # 월(숫자)
df['timestamp_month_name'] = df['timestamp'].dt.month_name() # 월(문자)
df['timestamp_day']        = df['timestamp'].dt.day          # 일(숫자)
df['timestamp_time']       = df['timestamp'].dt.time         # HH:MM:SS(문자)
df['timestamp_hour']       = df['timestamp'].dt.hour         # 시(숫자)
df['timestamp_minute']     = df['timestamp'].dt.minute       # 분(숫자)
df['timestamp_second']     = df['timestamp'].dt.second       # 초(숫자)

In [6]:
df

,Unnamed: 0,timestamp,point_amount_cumsum,timestamp_year_month_day,timestamp_year,timestamp_month,timestamp_month_name,timestamp_day,timestamp_time,timestamp_hour,timestamp_minute,timestamp_second
0,6,2018-06-01 02:00:45,-702.0,2018-06-01,2018,6,June,1,02:00:45,2,0,45
1,7,2018-06-01 02:05:02,-37431.0,2018-06-01,2018,6,June,1,02:05:02,2,5,2
2,8,2018-06-01 02:05:54,37499.0,2018-06-01,2018,6,June,1,02:05:54,2,5,54
3,13,2018-06-01 03:43:16,-4739.0,2018-06-01,2018,6,June,1,03:43:16,3,43,16
4,57,2018-06-01 06:02:29,13870.0,2018-06-01,2018,6,June,1,06:02:29,6,2,29
...,...,...,...,...,...,...,...,...,...,...,...,...
1243,8766,2018-06-30 21:43:31,61170.0,2018-06-30,2018,6,June,30,21:43:31,21,43,31
1244,8769,2018-06-30 21:53:26,118.0,2018-06-30,2018,6,June,30,21:53:26,21,53,26
1245,8770,2018-06-30 23:04:48,-40040.0,2018-06-30,2018,6,June,30,23:04:48,23,4,48
1246,8775,2018-06-30 23:07:17,36731.0,2018-06-30,2018,6,June,30,23:07:17,23,7,17
1247,8778,2018-06-30 23:25:30,56.0,2018-06-30,2018,6,June,30,23:25:30,23,25,30

In [7]:
## creating 'day - amount' connection
group_day_amount = df['point_amount_cumsum'].groupby(df['timestamp_year_month_day'])

In [8]:
## 일별 총 손익량
group_day_amount.sum()

timestamp_year_month_day
2018-06-01    -129920.0
2018-06-02      25622.0
2018-06-03     245492.0
2018-06-04    -137958.0
2018-06-05      77060.0
2018-06-06     596013.0
2018-06-07     306809.0
2018-06-08     101945.0
2018-06-09     254221.0
2018-06-10    -239243.0
2018-06-11    -196706.0
2018-06-12     303336.0
2018-06-13      39922.0
2018-06-14     512364.0
2018-06-15     661295.0
2018-06-16      75841.0
2018-06-17     588591.0
2018-06-18      -7084.0
2018-06-19      76805.0
2018-06-20     -89624.0
2018-06-21     322135.0
2018-06-22    -491323.0
2018-06-23      31449.0
2018-06-24     106854.0
2018-06-25      82444.0
2018-06-26     197792.0
2018-06-27    -115889.0
2018-06-28      43101.0
2018-06-29     -22237.0
2018-06-30    1294735.0
Name: point_amount_cumsum, dtype: float64

In [9]:
## 일별 계산 table 생성
dfs = [group_day_amount.sum()]
dfs

[timestamp_year_month_day
 2018-06-01    -129920.0
 2018-06-02      25622.0
 2018-06-03     245492.0
 2018-06-04    -137958.0
 2018-06-05      77060.0
 2018-06-06     596013.0
 2018-06-07     306809.0
 2018-06-08     101945.0
 2018-06-09     254221.0
 2018-06-10    -239243.0
 2018-06-11    -196706.0
 2018-06-12     303336.0
 2018-06-13      39922.0
 2018-06-14     512364.0
 2018-06-15     661295.0
 2018-06-16      75841.0
 2018-06-17     588591.0
 2018-06-18      -7084.0
 2018-06-19      76805.0
 2018-06-20     -89624.0
 2018-06-21     322135.0
 2018-06-22    -491323.0
 2018-06-23      31449.0
 2018-06-24     106854.0
 2018-06-25      82444.0
 2018-06-26     197792.0
 2018-06-27    -115889.0
 2018-06-28      43101.0
 2018-06-29     -22237.0
 2018-06-30    1294735.0
 Name: point_amount_cumsum, dtype: float64]

In [10]:
day_df_final = reduce(lambda left,right: pd.merge(left,right,on='timestamp_year_month_day'), dfs)
day_df_final.columns = [ "daily profit"]
day_df_final

timestamp_year_month_day
2018-06-01    -129920.0
2018-06-02      25622.0
2018-06-03     245492.0
2018-06-04    -137958.0
2018-06-05      77060.0
2018-06-06     596013.0
2018-06-07     306809.0
2018-06-08     101945.0
2018-06-09     254221.0
2018-06-10    -239243.0
2018-06-11    -196706.0
2018-06-12     303336.0
2018-06-13      39922.0
2018-06-14     512364.0
2018-06-15     661295.0
2018-06-16      75841.0
2018-06-17     588591.0
2018-06-18      -7084.0
2018-06-19      76805.0
2018-06-20     -89624.0
2018-06-21     322135.0
2018-06-22    -491323.0
2018-06-23      31449.0
2018-06-24     106854.0
2018-06-25      82444.0
2018-06-26     197792.0
2018-06-27    -115889.0
2018-06-28      43101.0
2018-06-29     -22237.0
2018-06-30    1294735.0
Name: point_amount_cumsum, dtype: float64

In [11]:
print(day_df_final.asfreq('D'))

timestamp_year_month_day
2018-06-01    -129920.0
2018-06-02      25622.0
2018-06-03     245492.0
2018-06-04    -137958.0
2018-06-05      77060.0
2018-06-06     596013.0
2018-06-07     306809.0
2018-06-08     101945.0
2018-06-09     254221.0
2018-06-10    -239243.0
2018-06-11    -196706.0
2018-06-12     303336.0
2018-06-13      39922.0
2018-06-14     512364.0
2018-06-15     661295.0
2018-06-16      75841.0
2018-06-17     588591.0
2018-06-18      -7084.0
2018-06-19      76805.0
2018-06-20     -89624.0
2018-06-21     322135.0
2018-06-22    -491323.0
2018-06-23      31449.0
2018-06-24     106854.0
2018-06-25      82444.0
2018-06-26     197792.0
2018-06-27    -115889.0
2018-06-28      43101.0
2018-06-29     -22237.0
2018-06-30    1294735.0
Freq: D, Name: point_amount_cumsum, dtype: float64

In [12]:
day_df_final.index = pd.DatetimeIndex(day_df_final.index)

In [13]:
year=2018
i = 1
idx = pd.date_range(start = "{}-{}-1".format(year, i), periods = pd.Period("{}-{}-1".format(year, i)).days_in_month)
print(idx)

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12',
               '2018-01-13', '2018-01-14', '2018-01-15', '2018-01-16',
               '2018-01-17', '2018-01-18', '2018-01-19', '2018-01-20',
               '2018-01-21', '2018-01-22', '2018-01-23', '2018-01-24',
               '2018-01-25', '2018-01-26', '2018-01-27', '2018-01-28',
               '2018-01-29', '2018-01-30', '2018-01-31'],
              dtype='datetime64[ns]', freq='D')

In [14]:
day_df_final.to_csv("/Users/hamin/ITE3035_Python/Data_Science/endingPrice/dailyProfit/dailyProfit06(zero_to_zero).csv", header=True, index=True, encoding = 'utf-8')