In [1]:
import pandas as pd
import numpy as np
from functools import reduce
import matplotlib.pyplot as plt
from pylab import figure, axes, pie, title, savefig

In [2]:
df = pd.read_csv("/Users/hamin/bithumb_bot_data/include/2018-new/2018-07-btc-krw.csv")

In [3]:
df.dtypes

timestamp     object
quantity     float64
price          int64
fee            int64
amount         int64
side           int64
dtype: object

In [4]:
# converting timestamp column type 'object' to 'datetime'
df['timestamp'] = pd.to_datetime(df['timestamp'], format = '%Y-%m-%d %H:%M:%S', errors='raise')
df.dtypes

timestamp    datetime64[ns]
quantity            float64
price                 int64
fee                   int64
amount                int64
side                  int64
dtype: object

In [5]:
## converting timestamp to detailed date column
df['timestamp_year_month_day']       = df['timestamp'].dt.date         # YYYY-MM-DD(문자)
df['timestamp_year']       = df['timestamp'].dt.year         # 연(4자리숫자)
df['timestamp_month']      = df['timestamp'].dt.month        # 월(숫자)
df['timestamp_month_name'] = df['timestamp'].dt.month_name() # 월(문자)
df['timestamp_day']        = df['timestamp'].dt.day          # 일(숫자)
df['timestamp_time']       = df['timestamp'].dt.time         # HH:MM:SS(문자)
df['timestamp_hour']       = df['timestamp'].dt.hour         # 시(숫자)
df['timestamp_minute']     = df['timestamp'].dt.minute       # 분(숫자)
df['timestamp_second']     = df['timestamp'].dt.second       # 초(숫자)

In [6]:
df

,timestamp,quantity,price,fee,amount,side,timestamp_year_month_day,timestamp_year,timestamp_month,timestamp_month_name,timestamp_day,timestamp_time,timestamp_hour,timestamp_minute,timestamp_second
0,2018-07-01 02:04:00,0.0750,7109000,0,-533175,0,2018-07-01,2018,7,July,1,02:04:00,2,4,0
1,2018-07-01 02:05:00,0.0750,7112000,0,533400,1,2018-07-01,2018,7,July,1,02:05:00,2,5,0
2,2018-07-01 02:42:00,0.0800,7094000,0,-567520,0,2018-07-01,2018,7,July,1,02:42:00,2,42,0
3,2018-07-01 02:44:00,0.0025,7094000,0,17735,1,2018-07-01,2018,7,July,1,02:44:00,2,44,0
4,2018-07-01 02:46:00,0.0775,7094000,0,549785,1,2018-07-01,2018,7,July,1,02:46:00,2,46,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9462,2018-07-16 23:59:00,0.0142,7384000,0,104853,1,2018-07-16,2018,7,July,16,23:59:00,23,59,0
9463,2018-07-16 23:59:00,0.1505,7384000,0,1111292,1,2018-07-16,2018,7,July,16,23:59:00,23,59,0
9464,2018-07-17 00:00:00,0.3153,7385000,0,2328491,1,2018-07-17,2018,7,July,17,00:00:00,0,0,0
9465,2018-07-17 00:00:00,0.0139,7385000,0,-102652,0,2018-07-17,2018,7,July,17,00:00:00,0,0,0
9466,2018-07-17 00:00:00,0.0139,7387000,0,102679,1,2018-07-17,2018,7,July,17,00:00:00,0,0,0

In [7]:
## creating 'day - amount' connection
group_day_amount = df['amount'].groupby(df['timestamp_year_month_day'])

In [8]:
## 일별 총 손익량
group_day_amount.sum()

timestamp_year_month_day
2018-07-01   -14585370
2018-07-02    15168016
2018-07-03      167826
2018-07-04   -18993006
2018-07-05    19456952
2018-07-06   -21771154
2018-07-07     6844664
2018-07-08    15315231
2018-07-09   -12685945
2018-07-10    -9070107
2018-07-11    18322011
2018-07-12   -16529390
2018-07-13      108019
2018-07-14    -2453009
2018-07-15     4226376
2018-07-16    14644517
2018-07-17     2328518
Name: amount, dtype: int64

In [9]:
## 일별 계산 table 생성
dfs = [group_day_amount.sum()]
dfs

[timestamp_year_month_day
 2018-07-01   -14585370
 2018-07-02    15168016
 2018-07-03      167826
 2018-07-04   -18993006
 2018-07-05    19456952
 2018-07-06   -21771154
 2018-07-07     6844664
 2018-07-08    15315231
 2018-07-09   -12685945
 2018-07-10    -9070107
 2018-07-11    18322011
 2018-07-12   -16529390
 2018-07-13      108019
 2018-07-14    -2453009
 2018-07-15     4226376
 2018-07-16    14644517
 2018-07-17     2328518
 Name: amount, dtype: int64]

In [10]:
day_df_final = reduce(lambda left,right: pd.merge(left,right,on='timestamp_year_month_day'), dfs)
day_df_final.columns = [ "daily profit"]
day_df_final

timestamp_year_month_day
2018-07-01   -14585370
2018-07-02    15168016
2018-07-03      167826
2018-07-04   -18993006
2018-07-05    19456952
2018-07-06   -21771154
2018-07-07     6844664
2018-07-08    15315231
2018-07-09   -12685945
2018-07-10    -9070107
2018-07-11    18322011
2018-07-12   -16529390
2018-07-13      108019
2018-07-14    -2453009
2018-07-15     4226376
2018-07-16    14644517
2018-07-17     2328518
Name: amount, dtype: int64

In [11]:
print(day_df_final.asfreq('D'))

timestamp_year_month_day
2018-07-01   -14585370
2018-07-02    15168016
2018-07-03      167826
2018-07-04   -18993006
2018-07-05    19456952
2018-07-06   -21771154
2018-07-07     6844664
2018-07-08    15315231
2018-07-09   -12685945
2018-07-10    -9070107
2018-07-11    18322011
2018-07-12   -16529390
2018-07-13      108019
2018-07-14    -2453009
2018-07-15     4226376
2018-07-16    14644517
2018-07-17     2328518
Freq: D, Name: amount, dtype: int64

In [12]:
day_df_final.index = pd.DatetimeIndex(day_df_final.index)

In [13]:
year=2018
i = 1
idx = pd.date_range(start = "{}-{}-1".format(year, i), periods = pd.Period("{}-{}-1".format(year, i)).days_in_month)
print(idx)

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12',
               '2018-01-13', '2018-01-14', '2018-01-15', '2018-01-16',
               '2018-01-17', '2018-01-18', '2018-01-19', '2018-01-20',
               '2018-01-21', '2018-01-22', '2018-01-23', '2018-01-24',
               '2018-01-25', '2018-01-26', '2018-01-27', '2018-01-28',
               '2018-01-29', '2018-01-30', '2018-01-31'],
              dtype='datetime64[ns]', freq='D')

In [14]:
day_df_final.to_csv("/Users/hamin/bithumb_bot_data/endingPrice/dailyProfit/dailyProfit07.csv", header=True, index=True, encoding = 'utf-8')