In [2]:
import pandas as pd
import numpy as np
from functools import reduce
import matplotlib.pyplot as plt
from pylab import figure, axes, pie, title, savefig

In [3]:
df = pd.read_csv("/Users/hamin/ITE3035_Python/Data_Science/endingPrice/profit_point/bithumb-2018-02-btc-profit_point_graph_table.csv")

In [4]:
df.dtypes

Unnamed: 0               int64
timestamp               object
point_amount_cumsum    float64
dtype: object

In [5]:
# converting timestamp column type 'object' to 'datetime'
df['timestamp'] = pd.to_datetime(df['timestamp'], format = '%Y-%m-%d %H:%M:%S', errors='raise')
df.dtypes

Unnamed: 0                      int64
timestamp              datetime64[ns]
point_amount_cumsum           float64
dtype: object

In [6]:
## converting timestamp to detailed date column
df['timestamp_year_month_day']       = df['timestamp'].dt.date         # YYYY-MM-DD(문자)
df['timestamp_year']       = df['timestamp'].dt.year         # 연(4자리숫자)
df['timestamp_month']      = df['timestamp'].dt.month        # 월(숫자)
df['timestamp_month_name'] = df['timestamp'].dt.month_name() # 월(문자)
df['timestamp_day']        = df['timestamp'].dt.day          # 일(숫자)
df['timestamp_time']       = df['timestamp'].dt.time         # HH:MM:SS(문자)
df['timestamp_hour']       = df['timestamp'].dt.hour         # 시(숫자)
df['timestamp_minute']     = df['timestamp'].dt.minute       # 분(숫자)
df['timestamp_second']     = df['timestamp'].dt.second       # 초(숫자)

In [7]:
df

,Unnamed: 0,timestamp,point_amount_cumsum,timestamp_year_month_day,timestamp_year,timestamp_month,timestamp_month_name,timestamp_day,timestamp_time,timestamp_hour,timestamp_minute,timestamp_second
0,1,2018-02-14 00:12:12,-5593.0,2018-02-14,2018,2,February,14,00:12:12,0,12,12
1,3,2018-02-14 00:15:41,1155.0,2018-02-14,2018,2,February,14,00:15:41,0,15,41
2,6,2018-02-14 00:20:44,33302.0,2018-02-14,2018,2,February,14,00:20:44,0,20,44
3,14,2018-02-14 00:28:28,-28345.0,2018-02-14,2018,2,February,14,00:28:28,0,28,28
4,19,2018-02-14 00:33:24,-17011.0,2018-02-14,2018,2,February,14,00:33:24,0,33,24
...,...,...,...,...,...,...,...,...,...,...,...,...
3154,18325,2018-02-28 23:01:28,-33984.0,2018-02-28,2018,2,February,28,23:01:28,23,1,28
3155,18334,2018-02-28 23:06:56,681.0,2018-02-28,2018,2,February,28,23:06:56,23,6,56
3156,18349,2018-02-28 23:25:17,82345.0,2018-02-28,2018,2,February,28,23:25:17,23,25,17
3157,18365,2018-02-28 23:59:49,-22352.0,2018-02-28,2018,2,February,28,23:59:49,23,59,49
3158,18366,2018-02-28 23:59:49,2385.0,2018-02-28,2018,2,February,28,23:59:49,23,59,49

In [9]:
## creating 'day - amount' connection
group_day_amount = df['point_amount_cumsum'].groupby(df['timestamp_year_month_day'])

In [10]:
## 일별 총 손익량
group_day_amount.sum()

timestamp_year_month_day
2018-02-14    1560315.0
2018-02-15    1476057.0
2018-02-16    1399283.0
2018-02-17    1432140.0
2018-02-18    1128401.0
2018-02-19     738823.0
2018-02-20    1998820.0
2018-02-21     930171.0
2018-02-22     974781.0
2018-02-23    2225587.0
2018-02-24    1013740.0
2018-02-25     570258.0
2018-02-26    1527497.0
2018-02-27    1898874.0
2018-02-28    1182698.0
Name: point_amount_cumsum, dtype: float64

In [11]:
## 일별 계산 table 생성
dfs = [group_day_amount.sum()]
dfs

[timestamp_year_month_day
 2018-02-14    1560315.0
 2018-02-15    1476057.0
 2018-02-16    1399283.0
 2018-02-17    1432140.0
 2018-02-18    1128401.0
 2018-02-19     738823.0
 2018-02-20    1998820.0
 2018-02-21     930171.0
 2018-02-22     974781.0
 2018-02-23    2225587.0
 2018-02-24    1013740.0
 2018-02-25     570258.0
 2018-02-26    1527497.0
 2018-02-27    1898874.0
 2018-02-28    1182698.0
 Name: point_amount_cumsum, dtype: float64]

In [12]:
day_df_final = reduce(lambda left,right: pd.merge(left,right,on='timestamp_year_month_day'), dfs)
day_df_final.columns = [ "daily profit"]
day_df_final

timestamp_year_month_day
2018-02-14    1560315.0
2018-02-15    1476057.0
2018-02-16    1399283.0
2018-02-17    1432140.0
2018-02-18    1128401.0
2018-02-19     738823.0
2018-02-20    1998820.0
2018-02-21     930171.0
2018-02-22     974781.0
2018-02-23    2225587.0
2018-02-24    1013740.0
2018-02-25     570258.0
2018-02-26    1527497.0
2018-02-27    1898874.0
2018-02-28    1182698.0
Name: point_amount_cumsum, dtype: float64

In [13]:
print(day_df_final.asfreq('D'))

timestamp_year_month_day
2018-02-14    1560315.0
2018-02-15    1476057.0
2018-02-16    1399283.0
2018-02-17    1432140.0
2018-02-18    1128401.0
2018-02-19     738823.0
2018-02-20    1998820.0
2018-02-21     930171.0
2018-02-22     974781.0
2018-02-23    2225587.0
2018-02-24    1013740.0
2018-02-25     570258.0
2018-02-26    1527497.0
2018-02-27    1898874.0
2018-02-28    1182698.0
Freq: D, Name: point_amount_cumsum, dtype: float64

In [14]:
day_df_final.index = pd.DatetimeIndex(day_df_final.index)

In [15]:
year=2018
i = 1
idx = pd.date_range(start = "{}-{}-1".format(year, i), periods = pd.Period("{}-{}-1".format(year, i)).days_in_month)
print(idx)

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12',
               '2018-01-13', '2018-01-14', '2018-01-15', '2018-01-16',
               '2018-01-17', '2018-01-18', '2018-01-19', '2018-01-20',
               '2018-01-21', '2018-01-22', '2018-01-23', '2018-01-24',
               '2018-01-25', '2018-01-26', '2018-01-27', '2018-01-28',
               '2018-01-29', '2018-01-30', '2018-01-31'],
              dtype='datetime64[ns]', freq='D')

In [18]:
day_df_final.to_csv("/Users/hamin/ITE3035_Python/Data_Science/endingPrice/dailyProfit/dailyProfit02(zero_to_zero).csv", header=True, index=True, encoding = 'utf-8')