In [1]:
import pandas as pd
import numpy as np
from functools import reduce
import matplotlib.pyplot as plt
from pylab import figure, axes, pie, title, savefig

In [2]:
df = pd.read_csv("/Users/hamin/bithumb_bot_data/include/2018-new/2018-02-btc-krw.csv")

In [3]:
df.dtypes

timestamp      object
quantity      float64
price           int64
fee           float64
amount          int64
side            int64
Unnamed: 6    float64
Unnamed: 7     object
Unnamed: 8    float64
Unnamed: 9    float64
dtype: object

In [4]:
# converting timestamp column type 'object' to 'datetime'
df['timestamp'] = pd.to_datetime(df['timestamp'], format = '%Y-%m-%d %H:%M:%S', errors='raise')
df.dtypes

timestamp     datetime64[ns]
quantity             float64
price                  int64
fee                  float64
amount                 int64
side                   int64
Unnamed: 6           float64
Unnamed: 7            object
Unnamed: 8           float64
Unnamed: 9           float64
dtype: object

In [5]:
## converting timestamp to detailed date column
df['timestamp_year_month_day']       = df['timestamp'].dt.date         # YYYY-MM-DD(문자)
df['timestamp_year']       = df['timestamp'].dt.year         # 연(4자리숫자)
df['timestamp_month']      = df['timestamp'].dt.month        # 월(숫자)
df['timestamp_month_name'] = df['timestamp'].dt.month_name() # 월(문자)
df['timestamp_day']        = df['timestamp'].dt.day          # 일(숫자)
df['timestamp_time']       = df['timestamp'].dt.time         # HH:MM:SS(문자)
df['timestamp_hour']       = df['timestamp'].dt.hour         # 시(숫자)
df['timestamp_minute']     = df['timestamp'].dt.minute       # 분(숫자)
df['timestamp_second']     = df['timestamp'].dt.second       # 초(숫자)

In [6]:
df

,timestamp,quantity,price,fee,amount,side,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,timestamp_year_month_day,timestamp_year,timestamp_month,timestamp_month_name,timestamp_day,timestamp_time,timestamp_hour,timestamp_minute,timestamp_second
0,2018-02-14 00:11:00,0.7990,9861000,0.0,-7878939,0,NaN,2018.2.14,-7777826.0,7777826.0,2018-02-14,2018,2,February,14,00:11:00,0,11,0
1,2018-02-14 00:12:00,0.7990,9854000,0.0,7873346,1,NaN,2018.2.15,117703.0,-117703.0,2018-02-14,2018,2,February,14,00:12:00,0,12,0
2,2018-02-14 00:15:00,0.1050,9849000,0.0,-1034145,0,NaN,2018.2.16,6715796.0,-6715796.0,2018-02-14,2018,2,February,14,00:15:00,0,15,0
3,2018-02-14 00:15:00,0.1050,9860000,0.0,1035300,1,NaN,2018.2.17,-6375594.0,6375594.0,2018-02-14,2018,2,February,14,00:15:00,0,15,0
4,2018-02-14 00:20:00,1.5000,9859000,0.0,-14788500,0,NaN,2018.2.18,-170484.0,170484.0,2018-02-14,2018,2,February,14,00:20:00,0,20,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18362,2018-02-28 23:59:00,0.0100,11924000,0.0,119240,1,NaN,NaN,NaN,NaN,2018-02-28,2018,2,February,28,23:59:00,23,59,0
18363,2018-02-28 23:59:00,0.0002,11924000,0.0,2385,1,NaN,NaN,NaN,NaN,2018-02-28,2018,2,February,28,23:59:00,23,59,0
18364,2018-02-28 23:59:00,0.0296,11923000,0.0,352921,1,NaN,NaN,NaN,NaN,2018-02-28,2018,2,February,28,23:59:00,23,59,0
18365,2018-02-28 23:59:00,0.5662,11923000,0.0,6750803,1,NaN,NaN,NaN,NaN,2018-02-28,2018,2,February,28,23:59:00,23,59,0
18366,2018-02-28 23:59:00,0.0002,11923000,0.0,2385,1,NaN,NaN,NaN,NaN,2018-02-28,2018,2,February,28,23:59:00,23,59,0

In [7]:
## creating 'day - amount' connection
group_day_amount = df['amount'].groupby(df['timestamp_year_month_day'])

In [8]:
## 일별 총 손익량
group_day_amount.sum()

timestamp_year_month_day
2018-02-14   -13986080
2018-02-15      756965
2018-02-16    17687643
2018-02-17     1432140
2018-02-18   -12068675
2018-02-19    13935899
2018-02-20     1998820
2018-02-21     -274696
2018-02-22    -7300157
2018-02-23    11705392
2018-02-24     1013740
2018-02-25      570258
2018-02-26   -10570854
2018-02-27    -6746483
2018-02-28    21926406
Name: amount, dtype: int64

In [9]:
## 일별 계산 table 생성
dfs = [group_day_amount.sum()]
dfs

[timestamp_year_month_day
 2018-02-14   -13986080
 2018-02-15      756965
 2018-02-16    17687643
 2018-02-17     1432140
 2018-02-18   -12068675
 2018-02-19    13935899
 2018-02-20     1998820
 2018-02-21     -274696
 2018-02-22    -7300157
 2018-02-23    11705392
 2018-02-24     1013740
 2018-02-25      570258
 2018-02-26   -10570854
 2018-02-27    -6746483
 2018-02-28    21926406
 Name: amount, dtype: int64]

In [10]:
day_df_final = reduce(lambda left,right: pd.merge(left,right,on='timestamp_year_month_day'), dfs)
day_df_final.columns = [ "daily profit"]
day_df_final

timestamp_year_month_day
2018-02-14   -13986080
2018-02-15      756965
2018-02-16    17687643
2018-02-17     1432140
2018-02-18   -12068675
2018-02-19    13935899
2018-02-20     1998820
2018-02-21     -274696
2018-02-22    -7300157
2018-02-23    11705392
2018-02-24     1013740
2018-02-25      570258
2018-02-26   -10570854
2018-02-27    -6746483
2018-02-28    21926406
Name: amount, dtype: int64

In [11]:
print(day_df_final.asfreq('D'))

timestamp_year_month_day
2018-02-14   -13986080
2018-02-15      756965
2018-02-16    17687643
2018-02-17     1432140
2018-02-18   -12068675
2018-02-19    13935899
2018-02-20     1998820
2018-02-21     -274696
2018-02-22    -7300157
2018-02-23    11705392
2018-02-24     1013740
2018-02-25      570258
2018-02-26   -10570854
2018-02-27    -6746483
2018-02-28    21926406
Freq: D, Name: amount, dtype: int64

In [12]:
day_df_final.index = pd.DatetimeIndex(day_df_final.index)

In [13]:
year=2018
i = 1
idx = pd.date_range(start = "{}-{}-1".format(year, i), periods = pd.Period("{}-{}-1".format(year, i)).days_in_month)
print(idx)

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12',
               '2018-01-13', '2018-01-14', '2018-01-15', '2018-01-16',
               '2018-01-17', '2018-01-18', '2018-01-19', '2018-01-20',
               '2018-01-21', '2018-01-22', '2018-01-23', '2018-01-24',
               '2018-01-25', '2018-01-26', '2018-01-27', '2018-01-28',
               '2018-01-29', '2018-01-30', '2018-01-31'],
              dtype='datetime64[ns]', freq='D')

In [72]:
day_df_final.to_csv("/Users/hamin/bithumb_bot_data/endingPrice/dailyProfit/dailyProfit02.csv", header=True, index=True, encoding = 'utf-8')